.sfm-m-ddmenu-mi-box{
	cursor: pointer;
	background-color: rgba(245, 245, 245, 0.8);
	border: 1px solid #c5c5c5;
}
.sfm-m-ddmenu-mi-box.sfm-f-active{
	background-color: rgba(3, 169, 244, 0.8);
	color: #eee;
}
.sfm-m-ddmenu-mi-box:hover{
	background-color: rgba(3, 169, 244, 0.8);
	color: #eee;
}
.sfm-m-ddmenu-mi-box-lv1{
	position: relative;
	float: left;
	width: 145px;
	text-align: center;
}
.sfm-m-ddmenu-mi-box-lv2{
	background-color: rgba(245, 245, 245, 0.8);
	color: #333;
	padding: 0px 0px 0px 10px;
}
.sfm-m-ddmenu-mi-img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.sfm-m-ddmenu-mi-text{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
.sfm-m-ddmenu-menu-panel{
	display: none;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 100%;
	text-align: left;
}
.sfm-m-ddmenu-mi-box-lv1.sfm-f-active .sfm-m-ddmenu-menu-panel{
	display: block;
}
.sfm-m-ddmenu-mi-box-lv1:hover .sfm-m-ddmenu-menu-panel{
	display: block;
}
