.sfm-m-header{
	position: relative;
	height: 36px;
	background-color: rgb(50, 136, 239);
}
.sfm-m-title{
	display: inline-block;
	height: 36px;
	margin: 0px 0px 0px 10px;
	line-height: 36px;
	color: #fff;
}
.sfm-m-exbtn{
	position: absolute;
	width: 18px;
	height: 18px;
	top: 9px;
	right: 10px;
	cursor: pointer;
}
.sfm-m-tc{
	height: 100%;
	overflow: auto;
}
