@font-face {
  font-family: 'ShiShangZhongHeiJianTi';
  src: url('./ShiShangZhongHeiJianTi.TTF');
}
@font-face {
  font-family: 'PingFang SC';
  src: url('./PINGFANG MEDIUM.TTF');
}
@font-face {
  font-family: 'HuXiaoBo-NanShen';
  src: url('./HuXiaoBo-NanShen.OTF');
}
