@charset "UTF-8";
.bim-table {
  background-color: #060c26;
}

.bim-table:after {
  border: none;
  background-color: transparent !important;
}

.bim-table:before {
  border: none;
  background-color: transparent !important;
}

.bim-table .el-table__header-wrapper .el-table__header th {
  background-color: #222d6a;
  color: #7ceff6;
  font-size: 14px;
  border: none;
  padding: 0;
}

.bim-table .el-table__body-wrapper {
  background-color: #060c26;
  overflow: auto;
}

.bim-table .el-table__body-wrapper td {
  background-color: #060c26;
}

.bim-table .el-table__body-wrapper td .el-icon-arrow-right {
  color: #ffffff;
}

.bim-table .el-table__fixed-right .el-table__fixed-header-wrapper .el-table__header th {
  background-color: #222d6a;
  color: #7ceff6;
  font-size: 14px;
  border: none;
  padding: 0;
}

.bim-table .el-table__fixed-right .el-table__fixed-body-wrapper .el-table__body {
  background-color: #060c26;
  overflow: auto;
}

.bim-table .el-table__fixed-right .el-table__fixed-body-wrapper .el-table__body td {
  background-color: #060c26;
}

.bim-table .el-table__fixed-right .el-table__fixed-body-wrapper .el-table__body td .el-icon-arrow-right {
  color: #ffffff;
}

.bim-table tr {
  color: #ffffff;
  font-size: 12px;
}

.bim-table tr:hover td, .bim-table tr.hover-row td, .bim-table tr.current-row td {
  background-color: #060c26 !important;
}

.drawer-bottom-panel {
  height: 100%;
  color: #000000;
}

.drawer-bottom-panel .el-container {
  height: 100%;
}

.drawer-bottom-panel .el-container .el-header {
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drawer-bottom-panel .el-container .el-header i {
  font-size: 24px;
  cursor: pointer;
}

.drawer-bottom-panel .el-container .el-header > div span {
  color: #659aee;
  margin-right: 5px;
}

.drawer-bottom-panel .el-container .el-main .image-box {
  display: flex;
  align-items: center;
}

.drawer-bottom-panel .el-container .el-main .image-box > div {
  margin: 0 5px;
  flex: 1;
  max-width: 30%;
}

.drawer-bottom-panel .el-container .el-main .image-box > div img {
  width: 100%;
  height: 90px;
  cursor: pointer;
}

.drawer-bottom-panel .el-container .el-main .image-box > div div {
  width: 100%;
  text-align: center;
  color: #0f0bef;
  cursor: pointer;
}

.drawer-bottom-panel .el-container .el-main .el-row {
  height: 100%;
}

.drawer-bottom-panel .el-container .el-main .el-row .el-col {
  height: 100%;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept {
  display: flex;
  flex-direction: column;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div:last-of-type {
  border-bottom: 1px solid #ebeef5;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div {
  flex: 1;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div ul {
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #ebeef5;
  border-top: 1px solid #ebeef5;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div ul li {
  flex: 1;
  border-right: 1px solid #ebeef5;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box {
  height: calc(100% - 30px);
  display: flex;
  align-items: center;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div {
  flex: 1;
  height: 100%;
  border-right: 1px solid #ebeef5;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .empty-text {
  text-align: center;
  margin-top: 80px;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .img-box {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .img-box > div {
  margin: 10px;
  min-width: 40%;
  max-width: 40%;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .img-box > div img {
  width: 100%;
  height: 90px;
  cursor: pointer;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .img-box > div div {
  width: 100%;
  text-align: center;
  color: #0f0bef;
  cursor: pointer;
}

.allbg {
  background-image: url(../assets/image/边框-大.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.header_g {
  display: flex;
  align-items: center;
  height: 40px;
}

.header_g .title_item {
  width: 2px;
  height: 15px;
  background: #4f71ff;
  margin-left: 16px;
  margin-right: 12px;
}

.header_g .title_text {
  height: 16px;
  font-size: 16px;
  font-family: PingFangSC;
  font-weight: 600;
  color: #ffffff;
}

.detail_div {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  color: #000 !important;
  pointer-events: auto;
}

.detail_div > label {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.detail_div > ul {
  padding: 0 20px;
  pointer-events: auto;
}

.detail_div > ul li {
  pointer-events: auto;
}

.detail_div .base_info {
  display: flex;
  align-items: center;
  height: 50px;
}

.detail_div .base_info li {
  display: flex;
  width: 50%;
}

.detail_div .base_info li .title {
  font-size: 16px;
  margin-right: 20px;
}

.detail_div .normal_ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail_div .normal_ul li {
  display: flex;
  width: 100%;
  margin: 2px 0;
}

.detail_div .normal_ul li .title {
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100px;
}

.detail_div .normal_ul li .content {
  flex: 1;
  line-height: 20px;
}

.detail_div .normal_ul .event_photo {
  display: flex;
  justify-content: space-between;
}

.detail_div .normal_ul .event_photo .title {
  width: 100px;
}

.detail_div .event_photo_box {
  border: 1px solid #ebecee;
  height: 120px;
  margin: 5px 20px;
  display: flex;
  align-items: center;
}

.detail_div .event_photo_box > div {
  width: 110px;
  height: 110px;
  margin-left: 10px;
  position: relative;
}

.detail_div .event_photo_box > div img {
  display: block;
  width: 100%;
  height: 100%;
}

.detail_div .event_photo_box > div .blowup {
  position: absolute;
  bottom: 10px;
  left: 25%;
  width: 30px;
  height: 30px;
}

.detail_div .event_photo_box > div .download {
  position: absolute;
  bottom: 10px;
  left: 60%;
  width: 32px;
  height: 32px;
}
