@charset "UTF-8";
:export {
  menuText: #ffffff;
  menuActiveText: #00FDF8;
  subMenuActiveText: #f4f4f5;
  menuBg: #060C26;
  menuHover: #060C26;
  subMenuBg: #060C26;
  subMenuHover: #060C26;
  sideBarWidth: 210px;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload input[type="file"] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

.el-dropdown-menu a {
  display: block;
}

.el-range-separator {
  box-sizing: content-box;
}

.el-drawer:focus:hover, .el-drawer__container:focus:hover, .el-drawer__wrapper:focus {
  outline: none;
}

:export {
  menuText: #ffffff;
  menuActiveText: #00FDF8;
  subMenuActiveText: #f4f4f5;
  menuBg: #060C26;
  menuHover: #060C26;
  subMenuBg: #060C26;
  subMenuHover: #060C26;
  sideBarWidth: 210px;
}

#app {
  color: #fff;
}

#app .main-container {
  height: 100%;
  position: relative;
}

#app .sidebar-container {
  transition: width 0.28s;
  width: 100% !important;
  background-color: #060C26;
  height: 100%;
  font-size: 0px;
  overflow: hidden;
}

#app .sidebar-container .horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

#app .sidebar-container .scrollbar-wrapper {
  overflow-x: hidden !important;
}

#app .sidebar-container .el-scrollbar__bar.is-vertical {
  right: 0px;
}

#app .sidebar-container .el-scrollbar {
  height: 100%;
}

#app .sidebar-container.has-logo .el-scrollbar {
  height: calc(100% - 50px);
}

#app .sidebar-container .is-horizontal {
  display: none;
}

#app .sidebar-container a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#app .sidebar-container .svg-icon {
  margin-right: 16px;
}

#app .sidebar-container .sub-el-icon {
  margin-right: 12px;
  margin-left: -2px;
}

#app .sidebar-container .el-menu {
  border: none;
  display: flex;
  height: 100%;
  width: 100% !important;
}

#app .sidebar-container .submenu-title-noDropdown:hover,
#app .sidebar-container .el-submenu__title:hover {
  background-color: #060C26 !important;
}

#app .sidebar-container .is-active > .el-submenu__title {
  color: #f4f4f5 !important;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
#app .sidebar-container .el-submenu .el-menu-item {
  min-width: 210px !important;
  background-color: #060C26 !important;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover,
#app .sidebar-container .el-submenu .el-menu-item:hover {
  background-color: #060C26 !important;
}

#app .hideSidebar .sidebar-container {
  width: 54px !important;
}

#app .hideSidebar .main-container {
  margin-left: 54px;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding: 0 !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 !important;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .sub-el-icon {
  margin-left: 19px;
}

#app .hideSidebar .el-submenu {
  overflow: hidden;
}

#app .hideSidebar .el-submenu > .el-submenu__title {
  padding: 0 !important;
}

#app .hideSidebar .el-submenu > .el-submenu__title .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .el-submenu > .el-submenu__title .sub-el-icon {
  margin-left: 19px;
}

#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 210px !important;
}

#app .mobile .main-container {
  margin-left: 0px;
}

#app .mobile .sidebar-container {
  transition: transform .28s;
  width: 210px !important;
}

#app .mobile.hideSidebar .sidebar-container {
  pointer-events: none;
  transition-duration: 0.3s;
  transform: translate3d(-210px, 0, 0);
}

#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  transition: none;
}

.el-menu--vertical > .el-menu .svg-icon {
  margin-right: 16px;
}

.el-menu--vertical > .el-menu .sub-el-icon {
  margin-right: 12px;
  margin-left: -2px;
}

.el-menu--vertical .nest-menu .el-submenu > .el-submenu__title:hover,
.el-menu--vertical .el-menu-item:hover {
  background-color: #060C26 !important;
}

.el-menu--vertical > .el-menu--popup {
  max-height: 100vh;
  overflow-y: auto;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar {
  width: 6px;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-thumb {
  background: #99a9bf;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 4px;
}

::v-deep .el-button.is-plain:active {
  background-color: #01a6e6 !important;
}

.el-button.is-plain:focus {
  background-color: #01a6e6 !important;
}

.module-box-wrapper {
  height: 100%;
}

.btn-bg {
  color: #ffffff !important;
  background-color: #0f88d2;
  border-color: #0f88d2 !important;
}

.btn-bg span:active {
  background-color: #01a6e6 !important;
}

.btn-bg:hover {
  background-color: #01a6e6 !important;
}

.btn-bg:active {
  background-color: #01a6e6 !important;
}

.btn-bg:focus {
  background-color: #01a6e6 !important;
}

.container-panel {
  height: 100%;
}

.container-panel .el-header {
  height: auto !important;
  padding: 5px;
  background: #0b2d73;
  border-radius: 6px 6px 0 0;
  display: flex;
}

.container-panel .el-header .container-header {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 1px solid #2463b9;
}

.container-panel .el-header .container-header .header-button {
  box-sizing: border-box;
  padding: 0 8px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-panel .el-main {
  padding: 5px;
  background: #0b2d73;
}

.container-panel .el-footer {
  background: #0b2d73;
  height: 32px !important;
  padding: 0 5px !important;
  border-radius: 0 0 6px 6px;
}

.table-box {
  border-color: #2463b9 !important;
  background-color: #0b2d73;
  overflow: visible;
  /*  .el-table::before {
      background: #2463B9;
    }

    .el-table::after {
      background: #2463B9;
    }

    .el-table--border, .el-table--group {
      border-color: #2463B9;
    }*/
}

.table-box .el-table__header-wrapper .el-table__header th {
  background-color: #071b52;
  border-color: #2463b9;
  color: #ffffff;
}

.table-box .el-table__header-wrapper .el-table__header th:nth-last-child(2) {
  border-right: none !important;
}

.table-box .el-table__header-wrapper .el-table__header th.gutter {
  width: 100% !important;
  display: table-cell !important;
  border-color: #2463b9;
}

.table-box .el-table__footer-wrapper .el-table__footer td {
  background-color: #071b52;
  border-color: #2463b9;
  color: #ffffff;
}

.table-box .el-table__body-wrapper {
  background-color: #0b2d73;
  overflow: auto;
}

.table-box .el-table__body-wrapper td {
  background-color: #0b2d73;
  border-color: #2463b9;
}

.table-box .el-table__body-wrapper td .el-icon-arrow-right {
  color: #ffffff;
}

.table-box .el-table__body-wrapper td .el-input {
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
}

.table-box .el-table__body-wrapper td .el-input .el-input__inner {
  background-color: transparent !important;
  color: #fff;
  line-height: 30px;
  height: 30px;
  outline: none;
  border: 1px solid #2463b9;
}

.table-box tr {
  color: #ffffff;
  font-size: 12px;
}

.table-box tr:hover td, .table-box tr.hover-row td, .table-box tr.current-row td {
  background-color: #153f93 !important;
}

.table-box .el-table__empty-block {
  background-color: #0b2d73;
}

.table-box .el-table__empty-block .el-table__empty-text {
  color: #ffffff;
}

.table-box:after, .table-box:before {
  background-color: #2463b9;
}

.table-box .tableBox-svg_yuan {
  width: 10px;
  height: 16px;
  vertical-align: middle;
  margin-bottom: 1.7px;
}

.tooltio-panel-bottom.is-dark {
  border: 1px solid #0f80c9;
  transform: translate(0, -3px);
  background: #071b50;
  z-index: 9999 !important;
}

.tooltio-panel-bottom.is-dark .popper__arrow {
  border-color: transparent transparent #0f80c9 transparent;
}

.tooltio-panel-bottom.is-dark .popper__arrow::after {
  border-color: transparent transparent #071b50 transparent;
}

.el-tooltip__popper {
  padding: 5px !important;
}

.tooltio-panel-right.is-dark {
  border: 1px solid #0f80c9;
  transform: translate(0, -3px);
  background: #071b50;
  z-index: 9999 !important;
}

.tooltio-panel-right.is-dark .popper__arrow {
  border-color: transparent #0f80c9 transparent transparent;
}

.tooltio-panel-right.is-dark .popper__arrow::after {
  border-color: transparent #0f80c9 transparent transparent;
}

.el-tooltip__popper {
  padding: 5px !important;
}

.svg-btn {
  color: #ffffff;
  cursor: pointer;
  vertical-align: middle !important;
  margin: 0 5px;
}

.drawer-panel {
  padding: 0 20px;
  color: #ffffff;
  min-width: 30%;
  background: #071b52;
  border: 1px solid #0f88d2;
  opacity: 0.9;
  border-radius: 12px 0px 0px 12px;
}

.drawer-panel .el-drawer__header {
  color: #ffffff;
  height: 38px;
  background: #0f88d2;
  border-radius: 12px 0px 0px 0px;
  padding: 11px 20px 13px;
  margin: 0px -20px !important;
  font-size: 14px;
}

.drawer-panel .el-drawer__body {
  position: relative;
  overflow: hidden;
}

.drawer-panel .el-drawer__body .el-divider {
  height: 1px;
  border: 1px solid #072887;
  opacity: 0.5;
  margin: 10px 0;
}

.drawer-panel .el-button--default {
  background: transparent;
  border: 1px solid #4566bc;
  color: #5e7fd4;
  padding: 7px 15px;
}

.drawer-panel .el-button--default:hover {
  color: #ffffff;
}

.drawer-panel .el-button--primary {
  background: #01a6e6;
  color: #fefefe;
  border: none;
  padding: 8px 15px;
}

.drawer-panel .el-button--primary:hover {
  background: #0f88d2;
  color: #fefefe;
  border: none;
}

.select-input-box-schedule {
  display: flex;
  justify-content: space-around;
}

.select-input-box-schedule .el-input-group__prepend {
  color: #fff;
  background: #042b77;
  height: 27px;
  border-left: 1px solid #2463b9;
}

.select-input-box-schedule .el-input-group__prepend::-webkit-input-placeholder {
  font-size: 12px;
  color: #fff;
  opacity: 0.65;
}

.select-input-box-schedule .el-input-group__prepend:hover {
  border-color: #01a6e6;
}

.select-input-box-schedule .el-input__inner {
  color: #ffffff;
  background: #042b77;
  border: 1px solid #2463b9;
}

.select-input-box-schedule .el-input__inner::-webkit-input-placeholder {
  font-size: 12px;
  color: #fff;
  opacity: 0.65;
}

.select-input-box-schedule .el-select {
  width: 130px;
}

.select-input-box-schedule .input-with-select {
  padding: 0px;
}

.select-input-box-schedule .el-input-group__append {
  border-color: #2463b9;
  background-color: #042b77;
}

.select-input-box-schedule .el-input-group__append .el-button {
  height: 27px;
  color: #ffffff;
  opacity: 0.65;
}

.el-dialog__wrapper {
  z-index: 1000001 !important;
}

.dialog-panel {
  width: 800px;
  left: 0;
  margin: 0 auto !important;
  position: relative;
  top: 50%;
  /*偏移*/
  transform: translateY(-50%);
  box-sizing: border-box;
  border: 1px solid #0e7dc3;
  box-shadow: 0px 0px 12px #0e7dc3 inset;
  border-radius: 12px;
  background-color: #071b52;
  opacity: 0.9;
  color: #ffffff;
}

.dialog-panel .el-dialog__header {
  border-radius: 12px 12px 0 0;
  padding: 10px 0px 10px 10px;
  background-color: #0f88d2;
  font-weight: bold;
}

.dialog-panel .el-dialog__header .el-dialog__title {
  line-height: 0;
  font-size: 14px !important;
  color: #ffffff !important;
  font-family: MicrosoftYaHei;
}

.dialog-panel .el-dialog__header .el-dialog__headerbtn {
  position: absolute;
  top: 11px;
  right: 20px;
}

.dialog-panel .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}

.dialog-panel .el-dialog__header .el-dialog__headerbtn .el-dialog__close:hover {
  color: #00f6ff;
  opacity: 0.7;
}

.dialog-panel .el-dialog__header .el-dialog__headerbtn .el-dialog__close:active {
  color: #00f6ff;
}

.dialog-panel .el-dialog__header .el-dialog__headerbtn .el-dialog__close:visited {
  color: #00f6ff;
}

.dialog-panel .el-dialog__body {
  padding: 20px 20px 20px;
}

.dialog-panel .el-dialog__body .el-textarea__inner {
  background-color: #071b52;
  height: 110px !important;
  border: 1px solid;
  border-color: #409eff;
  color: #ffffff;
}

.dialog-panel .el-dialog__footer {
  padding: 0px 30px 25px;
}

.dialog-panel .el-dialog__footer .el-button--mini {
  padding: 8px 15px;
}

.dialog-panel .el-dialog__footer .el-button--small {
  padding: 8px 15px;
}

.dialog-panel .el-dialog__footer .el-button--default {
  background: transparent;
  border: 1px solid #4566bc;
  color: #5e7fd4;
  padding: 7px 15px;
}

.dialog-panel .el-dialog__footer .el-button--default:hover {
  color: #ffffff;
}

.dialog-panel .el-dialog__footer .el-button--primary {
  background: #01a6e6;
  color: #fefefe;
  border: none;
}

.dialog-panel .el-dialog__footer .el-button--primary:hover {
  background: #0f88d2;
  color: #fefefe;
  border: none;
}

.form-panel {
  margin: 10px;
  max-width: 800px;
}

.form-panel .el-form-item .el-form-item__label {
  font-size: 12px;
  color: #ffffff;
  position: relative;
}

.form-panel .el-form-item .el-form-item__label:before {
  position: absolute;
  top: 2px;
  left: -14px;
}

.form-panel .el-form-item .el-form-item__content .el-select {
  width: 100%;
}

.form-panel .el-form-item .el-form-item__content .tenuer {
  width: 100%;
}

.form-panel .el-form-item .el-form-item__content .tenuer .el-form-item__content {
  margin-left: 0 !important;
}

.form-panel .el-form-item .el-form-item__content .tenuer .el-form-item__content .el-date-editor {
  border-radius: 4px !important;
  width: 100%;
}

.form-panel .el-form-item .el-form-item__content .tenuer .el-form-item__content .el-date-editor .el-input__inner {
  width: 100%;
}

.form-panel .el-form-item .el-form-item__content .is-disabled .el-input__inner {
  color: #c0c4cc !important;
}

.form-panel .el-form-item .el-form-item__content .el-input .el-input__inner {
  background-color: #071b52;
  border-color: #0e4f94;
  color: #ffffff;
  font-size: 12px !important;
}

.form-panel .el-form-item .el-form-item__content .el-input input[type="text"]:focus,
.form-panel .el-form-item .el-form-item__content .el-input select:focus {
  border: 1px solid;
  border-color: #409eff;
  outline: none;
}

.form-panel .el-form-item .el-form-item__content .el-input .el-input-group__append {
  border-color: #0f88d2;
  background-color: #0f88d2;
  font-size: 12px;
}

.form-panel .el-form-item .el-form-item__content .el-input .el-input-group__append .el-button {
  color: #ffffff;
  background-color: #0f88d2;
  border-color: #0f88d2;
}

.form-panel .el-form-item .el-form-item__content .el-input .el-input-group__append:hover {
  border-color: #01a6e6;
}

.form-panel .el-form-item .el-form-item__content .el-radio {
  color: #ffffff;
}

.form-panel .el-form-item .el-form-item__content .el-textarea .el-textarea__inner {
  background-color: #071b52;
  border-color: #0e4f94;
  color: #ffffff;
  font-size: 12px;
}

.form-panel .el-form-item .el-form-item__content .el-textarea .el-textarea__inner:focus,
.form-panel .el-form-item .el-form-item__content .el-textarea select:focus {
  border: 1px solid #409eff;
  outline: none;
}

.form-panel .el-form-item .el-form-item__content .el-upload-container .upload--picture-card {
  background: #2c58a1;
  border-color: #00a0e9;
}

.form-panel .el-form-item .el-form-item__content .el-date-editor {
  border-color: #00a0e9;
  background: #2c58a1;
  color: #ffffff;
}

.form-panel .el-form-item .el-form-item__content .el-date-editor .el-range-input {
  background: #2c58a1;
}

.form-panel .el-form-item .el-form-item__content .el-date-editor .el-range-separator {
  color: #ffffff;
}

.bim-form-panel {
  margin: 10px 0;
  max-width: 800px;
}

.bim-form-panel .el-form-item .el-form-item__label {
  font-size: 14px;
  color: #ffffff;
  position: relative;
}

.bim-form-panel .el-form-item .el-form-item__label:before {
  position: absolute;
  top: 2px;
  left: 20px;
}

.bim-form-panel .el-form-item .el-form-item__content .el-select {
  width: 100%;
}

.bim-form-panel .el-form-item .el-form-item__content .is-disabled .el-input__inner {
  color: #c0c4cc !important;
}

.bim-form-panel .el-form-item .el-form-item__content .el-input .el-input__inner {
  color: #000000;
  font-size: 12px !important;
}

.bim-form-panel .el-form-item .el-form-item__content .el-input input[type="text"]:focus,
.bim-form-panel .el-form-item .el-form-item__content .el-input select:focus {
  border: 1px solid #000000;
  outline: none;
}

.bim-form-panel .el-form-item .el-form-item__content .el-input-number {
  width: 100%;
}

.bim-form-panel .el-form-item .el-form-item__content .el-radio {
  color: #ffffff;
}

.bim-form-panel .el-form-item .el-form-item__content .el-textarea .el-textarea__inner {
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
}

.bim-form-panel .el-form-item .el-form-item__content .el-textarea .el-textarea__inner:focus,
.bim-form-panel .el-form-item .el-form-item__content .el-textarea select:focus {
  outline: none;
}

.select-panel {
  color: #ffffff;
  border-color: #409eff;
  background-color: #052165;
}

.select-panel .el-input__inner {
  background-color: #042b77;
}

.select-panel .el-select-dropdown__item {
  color: #ffffff;
  font-size: 12px;
}

.select-panel .el-select-dropdown__item.hover {
  color: #ffffff;
  background-color: #052165 !important;
}

.select-panel .el-select-dropdown__item.is-disabled {
  background-color: #052165 !important;
  color: #4d5870 !important;
}

.select-panel .el-select-dropdown__item.is-disabled:hover {
  background-color: #052165;
  color: #4d5870;
}

.select-panel .el-select-dropdown__empty {
  color: #ffffff;
}

.select-panel .selected {
  background-color: #0e7dc3;
  color: #ffffff;
}

.select-panel .popper__arrow {
  border-top-color: #409eff !important;
  border-bottom-color: #409eff !important;
}

.select-panel .popper__arrow:after {
  border-top-color: #061151 !important;
  border-bottom-color: #061151 !important;
}

.el-message-box__wrapper .message-panel {
  background: #071b52;
  opacity: 0.9;
  border-color: #0f88d2;
  border-radius: 12px;
}

.el-message-box__wrapper .message-panel .el-message-box__header {
  padding: 12px 15px 12px;
  background: #0f88d2;
}

.el-message-box__wrapper .message-panel .el-message-box__header .el-message-box__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  height: 14px;
}

.el-message-box__wrapper .message-panel .el-message-box__header .el-message-box__headerbtn .el-message-box__close {
  position: absolute;
  top: -3px;
  right: 5px;
  color: #ffffff;
}

.el-message-box__wrapper .message-panel .el-message-box__header .el-message-box__close:hover {
  color: #5dabef;
}

.el-message-box__wrapper .message-panel .el-message-box__header .el-message-box__close:active {
  color: #00f6ff;
}

.el-message-box__wrapper .message-panel .el-message-box__content {
  padding: 30px 15px;
  font-size: 12px;
}

.el-message-box__wrapper .message-panel .el-message-box__content .el-message-box__message {
  margin-left: 16px;
  color: #ffffff;
}

.el-message-box__wrapper .message-panel .el-message-box__content .el-message-box__status {
  color: #02b5cb;
}

.el-message-box__wrapper .message-panel .el-message-box__content .el-message-box__status::before {
  font-size: 34px;
}

.el-message-box__wrapper .message-panel .el-message-box__btns {
  padding: 5px 10px 0 !important;
}

.el-message-box__wrapper .message-panel .el-message-box__btns .el-button {
  height: 30px;
}

.el-message-box__wrapper .message-panel .el-message-box__btns .el-button:first-child {
  background: transparent;
  border-color: #4566bc;
  color: #5e7fd4;
}

.el-message-box__wrapper .message-panel .el-message-box__btns .el-button:first-child:hover {
  color: #f5f5f7;
}

.el-message-box__wrapper .message-panel .el-message-box__btns .el-button:last-child {
  background: #01a6e6;
  color: #f4f9fd;
  border: none;
}

.el-message-box__wrapper .message-panel .el-message-box__btns .el-button:last-child:hover {
  background: #0f88d2;
  color: #fefefe;
  border: none;
}

.tree-panel {
  background-color: #071b52;
  color: #ffffff;
}

.tree-panel .el-tree-node .el-tree-node__content {
  background-color: #0b2d73;
}

.tree-panel .el-tree-node .el-tree-node__content:hover {
  border: 1px solid #2d519b;
  background-color: #2d519b;
}

.tree-panel .is-current > .el-tree-node__content {
  border: 1px solid #2d519b;
  background-color: #2d519b;
}

.tree-panel .custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding-right: 8px;
  overflow: auto;
}

.tree-panel .custom-tree-node .tree_btn {
  font-size: 12px;
  color: #3995fb;
}

.tree-panel .custom-tree-node .tree_btn + .el-button {
  margin-left: 10px;
}

.tab-pane-box {
  height: 100%;
}

.tab-pane-box .el-tabs {
  height: 100%;
  border-radius: 5px;
  background: #0b2d73;
  border: none;
  display: flex;
  flex-direction: column;
}

.tab-pane-box .el-tabs .el-tabs__header {
  padding: 5px;
  border-radius: 5px 5px 0 0;
  background-color: #0b2d73;
  border-bottom: none;
}

.tab-pane-box .el-tabs .el-tabs__header .el-tabs__nav .el-tabs__item {
  color: #fff !important;
  border: none;
}

.tab-pane-box .el-tabs .el-tabs__header .el-tabs__nav .is-active {
  background-color: #0f88d2;
  border: none;
  color: #fff;
}

.tab-pane-box .el-tabs .el-tabs__content {
  flex: 1;
  padding: 0px;
}

.tab-pane-box .el-tabs .el-tabs__content .el-tab-pane {
  height: 100%;
}

.tab-pane-box .el-tabs .el-tabs__content .el-tab-pane .container-panel {
  padding: 0px;
}

.custom-scrollbar {
  overflow: auto;
  /* 滚动条整体部分，可以设置宽度等 */
  /* 外层轨道 */
  /* 内层滚动槽 */
  /* 滚动条滑块 */
  /* 滚动条两端的按钮 */
  /* 设置滚动条的交叉点样式 */
  /* 定义右下角拖动块的样式 */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  width: 10px;
  background-color: #0e4f94;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background-color: #0f88d2;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: #0e4f94;
}

.custom-scrollbar::-webkit-resizer {
  display: none;
}

/* el-table有滚动条 */
.have_scrolling .el-table__body-wrapper {
  /**
* 滚动条的滑块
*/
}

.have_scrolling .el-table__body-wrapper::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  background-color: transparent;
}

.have_scrolling .el-table__body-wrapper::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.have_scrolling .el-table__body-wrapper::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.smll_scrolling .el-table__body-wrapper {
  /**
* 滚动条的滑块
*/
}

.smll_scrolling .el-table__body-wrapper::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background-color: transparent;
}

.smll_scrolling .el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #0f88d2;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.smll_scrolling .el-table__body-wrapper::-webkit-scrollbar-track {
  background-color: #0e4f94;
  border-radius: px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.container-box {
  height: 100%;
}

.container-box .el-footer {
  height: 40px !important;
}

.bim-table {
  background-color: #060c26;
}

.bim-table:after {
  border: none;
  background-color: transparent !important;
}

.bim-table:before {
  border: none;
  background-color: transparent !important;
}

.bim-table .el-table__header-wrapper .el-table__header th {
  background-color: #222d6a;
  color: #7ceff6;
  font-size: 14px;
  border: none;
  padding: 0;
}

.bim-table .el-table__body-wrapper {
  background-color: #060c26;
  overflow: auto;
}

.bim-table .el-table__body-wrapper td {
  background-color: #060c26;
}

.bim-table .el-table__body-wrapper td .el-icon-arrow-right {
  color: #ffffff;
}

.bim-table .el-table__fixed-right .el-table__fixed-header-wrapper .el-table__header th {
  background-color: #222d6a;
  color: #7ceff6;
  font-size: 14px;
  border: none;
  padding: 0;
}

.bim-table .el-table__fixed-right .el-table__fixed-body-wrapper .el-table__body {
  background-color: #060c26;
  overflow: auto;
}

.bim-table .el-table__fixed-right .el-table__fixed-body-wrapper .el-table__body td {
  background-color: #060c26;
}

.bim-table .el-table__fixed-right .el-table__fixed-body-wrapper .el-table__body td .el-icon-arrow-right {
  color: #ffffff;
}

.bim-table tr {
  color: #ffffff;
  font-size: 12px;
}

.bim-table tr:hover td, .bim-table tr.hover-row td, .bim-table tr.current-row td {
  background-color: #060c26 !important;
}

.drawer-bottom-panel {
  height: 100%;
  color: #000000;
}

.drawer-bottom-panel .el-container {
  height: 100%;
}

.drawer-bottom-panel .el-container .el-header {
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drawer-bottom-panel .el-container .el-header i {
  font-size: 24px;
  cursor: pointer;
}

.drawer-bottom-panel .el-container .el-header > div span {
  color: #659aee;
  margin-right: 5px;
}

.drawer-bottom-panel .el-container .el-main .image-box {
  display: flex;
  align-items: center;
}

.drawer-bottom-panel .el-container .el-main .image-box > div {
  margin: 0 5px;
  flex: 1;
  max-width: 30%;
}

.drawer-bottom-panel .el-container .el-main .image-box > div img {
  width: 100%;
  height: 90px;
  cursor: pointer;
}

.drawer-bottom-panel .el-container .el-main .image-box > div div {
  width: 100%;
  text-align: center;
  color: #0f0bef;
  cursor: pointer;
}

.drawer-bottom-panel .el-container .el-main .el-row {
  height: 100%;
}

.drawer-bottom-panel .el-container .el-main .el-row .el-col {
  height: 100%;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept {
  display: flex;
  flex-direction: column;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div:last-of-type {
  border-bottom: 1px solid #ebeef5;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div {
  flex: 1;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div ul {
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #ebeef5;
  border-top: 1px solid #ebeef5;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div ul li {
  flex: 1;
  border-right: 1px solid #ebeef5;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box {
  height: calc(100% - 30px);
  display: flex;
  align-items: center;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div {
  flex: 1;
  height: 100%;
  border-right: 1px solid #ebeef5;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .empty-text {
  text-align: center;
  margin-top: 80px;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .img-box {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .img-box > div {
  margin: 10px;
  min-width: 40%;
  max-width: 40%;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .img-box > div img {
  width: 100%;
  height: 90px;
  cursor: pointer;
}

.drawer-bottom-panel .el-container .el-main .el-row .accept > div .record-box > div .img-box > div div {
  width: 100%;
  text-align: center;
  color: #0f0bef;
  cursor: pointer;
}

.allbg {
  background-image: url(../assets/image/边框-大.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.header_g {
  display: flex;
  align-items: center;
  height: 40px;
}

.header_g .title_item {
  width: 2px;
  height: 15px;
  background: #4f71ff;
  margin-left: 16px;
  margin-right: 12px;
}

.header_g .title_text {
  height: 16px;
  font-size: 16px;
  font-family: PingFangSC;
  font-weight: 600;
  color: #ffffff;
}

.detail_div {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  color: #000 !important;
}

.detail_div > label {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.detail_div > ul {
  padding: 0 20px;
}

.detail_div .base_info {
  display: flex;
  align-items: center;
  height: 50px;
}

.detail_div .base_info li {
  display: flex;
  width: 50%;
}

.detail_div .base_info li .title {
  font-size: 16px;
  margin-right: 20px;
}

.detail_div .normal_ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail_div .normal_ul li {
  display: flex;
  width: 100%;
  margin: 2px 0;
}

.detail_div .normal_ul li .title {
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100px;
}

.detail_div .normal_ul li .content {
  flex: 1;
  line-height: 20px;
}

.detail_div .normal_ul .event_photo {
  display: flex;
  justify-content: space-between;
}

.detail_div .normal_ul .event_photo .title {
  width: 100px;
}

.detail_div .event_photo_box {
  border: 1px solid #ebecee;
  height: 120px;
  margin: 5px 20px;
  display: flex;
  align-items: center;
}

.detail_div .event_photo_box > div {
  width: 110px;
  height: 110px;
  margin-left: 10px;
  position: relative;
}

.detail_div .event_photo_box > div img {
  display: block;
  width: 100%;
  height: 100%;
}

.detail_div .event_photo_box > div .blowup {
  position: absolute;
  bottom: 10px;
  left: 25%;
  width: 30px;
  height: 30px;
}

.detail_div .event_photo_box > div .download {
  position: absolute;
  bottom: 10px;
  left: 60%;
  width: 32px;
  height: 32px;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.border-box-content {
  padding: 10px;
  box-sizing: border-box;
}

.global-title {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-indent: 1em;
}

.v-chart-box {
  width: 100% !important;
  height: 100% !important;
}

.el-dropdown-menu {
  z-index: 100000001 !important;
}

.viewer-container {
  z-index: 100000000010 !important;
}

.el-picker-panel {
  z-index: 100000001 !important;
}

.el-select-dropdown {
  z-index: 10000000004 !important;
}

.message_override {
  z-index: 100000001 !important;
}

.el-tooltip__popper {
  z-index: 100000001 !important;
}

.el-message-box__wrapper {
  z-index: 10000000003 !important;
}

.el-drawer__wrapper {
  z-index: 30000 !important;
}
