.full-dialog .el-dialog {
	background: transparent;
}
.defined-dialog .el-form-item__content{
	margin-left: 0 !important;
}
.defined-dialog .el-form-item{
	margin-bottom: 12px !important;
}
.full-dialog .el-dialog__body {
	padding: 0;
	width: 100%;
	color: #191919;
	height: calc(100vh - 96px);
}

.full-dialog .el-dialog__header {
	height: 96px;
	padding: 36px 20px;
	border-bottom: 1px solid #ebebeb;
	background: #fff;
	color: #191919;
	font-weight: 600;
}

.full-dialog .el-dialog__title {
	font-size: 24px;
	line-height: 24px;
	color: #191919;
}

.full-dialog .el-dialog__body .el-main {
	/* background-color: rgba(0, 0, 0, 0.5); */
}

.full-dialog .el-dialog__headerbtn {
	top: 96px;
	right: 0;
	color: #355DFF;
	background: rgba(53, 93, 255, 0.1);
	width: 36px;
	height: 36px;
	border-radius: 0 0 0 50px;
}

.full-dialog .el-dialog__close {
	position: absolute;
	right: 0px;
	color: #355DFF !important;
	font-size: 20px;
	font-weight: 600;
	top: 4px;

}
.full-dialog.el-dialog__wrapper {
	/* z-index: 2003 !important; */

}

.el-button--primary:hover {
	color: #FFFFFF;
	background-color: #409EFF;
}

.el-button--primary {
	color: #FFFFFF;
	background-color: #355DFF;
	border-color: #355DFF;
	height: 36px;
	line-height: 36px;
	padding: 0 20px;
}

.el-input__inner {
	height: 36px;
	line-height: 36px;
}

.el-table thead {
	color: #040415;
}

.el-select {
	width: 100%;
}

.el-tabs__item:hover {
	color: #355DFF !important;
}

.el-tabs__item.is-active {
	color: #355DFF !important;
}

.tab-page{
	height: 100%;
}
.tab-page .el-tabs{
	height: 100%;
}
.tab-page .el-tabs__content{
	height: calc(100% - 56px);
}

.tab-page .el-tab-pane{
	height: 100%;
}

.little-container .el-dialog{
	min-height: 540px;
}
.little-container .el-dialog__body{
	min-height: 510px;
	/* display: initial; */
}
.little-container .el-table{
	min-height: 288px;
}
.el-message{
	z-index: 99999999!important;
}