
.full-dialog{
	.form-bg {
		background: rgb(255, 255, 255);
		width: 984px;
		margin: 0px auto;
		min-height: 100%;
		padding: 30px 20px 20px;
		overflow-y: auto;
	}
	.handle-bg{
		background: rgb(255, 255, 255);
		width: 984px;
		margin: 0px auto;
		padding: 30px 20px 20px;
		overflow-y: auto;
	}
}
.defined-dialog {
	background: rgba(0,0,0,0.5);;
	.logo-icon {
		width: 48px;
		height: 48px;
		background-image: url("~@/assets/process/logo.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: absolute;
		right: 20px;
		top: 24px;
		cursor: pointer;
	}

	.el-button--default {
		color: #355DFF;
	}
	.title-big-bar {
		width: 6px;
		height: 20px;
		background-image: url("~@/assets/process/bigbar.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: 8px 8px 8px 0;
	}
	
	.title-bar {
		width: 4px;
		height: 20px;
		background-image: url("~@/assets/process/bar.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: 2px 8px 2px 0;
	}

	.form-title {
		font-size: 20px;
		width: 100%;
		margin: 16px 0;
		color: #191919;
		font-family: Microsoft YaHei;
		display: inline-flex;
		height: 36px;
		line-height: 36px;
		position: relative;
	}

	.form-btns {
		position: absolute;
		right: 0;
	}

	.form-block {
		.form-block-title {
			margin: 8px 0;
			font-family: "Microsoft YaHei";
			font-size: 16px;
			display: inline-flex;
			height: 24px;
			line-height: 24px;
		}

		.block-line {
			line-height: 36px;
			display: inline-flex;
			font-size: 16px;
			width: 100%;
			position: relative;
			margin: 4px 0;

			.block-item {
				width: 50%;
				display: inline-flex;
			}

			.block-item-label {
				width: 160px;
				padding-right: 20px;
				text-align: right;
				font-weight: 600;
				color: #191919;
				font-family: PingFangSC-Medium, PingFang SC;
				font-size: 14px;
				position: relative;

				.require-icon {
					width: 4px;
					height: 4px;
					background: #FF4925;
					border-radius: 4px;
					position: absolute;
					right: 10px;
					top: 16px;
				}
			}

			.block-item-value {
				width: calc(100% - 180px);
				font-size: 14px;
			}

			.block-table-title {
				margin-left: 20px;
			}

			.block-table-btns {
				position: absolute;
				right: 20px;
			}
		}
	}

	.submit-btn {
		width: 260px;
		margin: 60px 0px 20px 160px;
	}

	.is-fullscreen {
		background-color: #E4E4E4 !important;
	}

	.close-wrapper {
		position: relative;
		background: #dcdfe6;
		overflow: hidden;
		z-index: 1000;
	}

	.close-wrap {
		cursor: pointer;
		color: #fff;
		position: absolute;
		left: 0;
		top: calc(50% - 60px);
		width: 8px;
		height: 120px;
		line-height: 60px;
		background: #409eff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.log-btns {
		margin: 10px 21px;
		padding-right: 10px;
		height: 46px;
		line-height: 46px;

		.print-btn {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0px;
		}

		.print-select-btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0px;
			margin: 0;
			width: 28px;
			text-align: center;
			border-left: 1px solid #fff;
			padding-left: 0;
			padding-right: 0;
			border-left-color: rgba(255, 255, 255, .5);
		}
	}

	.log-content {
		background-color: #FFFFFF;

		.log-line {
			display: inline-flex;
			width: calc(100% - 40px);
			margin: 0 20px;
			line-height: 28px;
		}

		.process-index {
			width: 20px;
			background: #355DFF;
			height: 20px;
			border-radius: 12px;
			color: #fff;
			font-weight: 600;
			text-align: center;
			line-height: 20px;
			margin: 0 12px;
			font-size: 12px;
		}
	}
}
