.datagrid-row {
    height: 40px;
}

.datagrid-row-selected {
    background-color: #FBEC88;
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
