body{
	background-color: rgb(56, 158, 255);
}
.sfm-m-menu-box{
	float: left;
}
.sfm-m-menu-lv1-box{
	height: 79px;
	/*font-family: "STXingkai", "STXinwei", "Quattrocento", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
}
.sfm-m-menu-lv2-box{
	height: 40px;
	border-top: 1px solid #e5e5e5;
	margin: 0px 0px 1px 0px;
	text-align: center;
	clear: both;
	position: relative;
	/*font-family: "STXinwei", "Quattrocento", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
}
.sfm-m-mi-box{
	float: left;
}
.sfm-m-mi-text{}
.sfm-m-mi-box-lv1{
	width: 77px;
	height: 100%;
	margin: 0px 4px 0px 4px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.sfm-m-mi-box-lv1:hover{}
.sfm-m-mi-box-lv1.sfm-f-active{}
.sfm-m-mi-box-lv1 .sfm-m-mi-img{
	display: block;
	width: 53px;
	height: 53px;
	margin: 0px auto 0px auto;
}
.sfm-m-mi-box-lv1 .sfm-m-mi-text{
	margin: 5px 0px 0px 0px;
	font-size: 16px;
	text-align: center;
}
.sfm-m-mi-box-lv2{
	/*min-width: 76px;*/
	min-width: 56px;
	margin: 0px 3px;
	padding: 5px 0px;
	overflow: hidden;
	color: #fff;
	cursor: pointer;
}
.sfm-m-mi-box-lv2:hover{
	background: url(./images/button_active.png) repeat-x;
	color: #fff;
}
.sfm-m-mi-box-lv2.sfm-f-active{
	background: url(./images/button_active.png) repeat-x;
	color: #fff;
}
.sfm-m-mi-box-lv2.selected{
	background: url(./images/button_active.png) repeat-x;
	color: #fff;
}
.sfm-m-mi-box-lv2[disabled]{
	color: #c5c5c5;
}
.sfm-m-mi-box-lv2[disabled]:hover{
	background: transparent;
	cursor: default;
}
.sfm-m-mi-box-lv2[disabled].sfm-f-active{
	color: #c5c5c5;
}
.sfm-m-mi-box-lv2[disabled]:selected{
	color: #c5c5c5;
}
.sfm-m-mi-box-lv2 .sfm-m-mi-img{
	display: block;
	float: left;
	width: 27px;
	height: 30px;
}
.sfm-m-mi-box-lv2 .sfm-m-mi-text{
	float: left;
	height: 30px;
	margin: 0px 0px 0px 3px;
	line-height: 30px;
	font-size: 14px;
}
.sfm-m-menu-panel{
	display: none;
	border: none;
	margin: 0px;
	position: absolute;
}

#divMenuBox{
	float: none;
	width: 450px;
	margin: auto;
}
