.sfm-t-header-wrapper{
	height: 100%;
	overflow: hidden;
 /* background: url(./images/bg.png) repeat-x;*/
 background-color: rgb(255,255,255);
}
.sfm-t-header{
	height: 100%;
	overflow: hidden;
	background: url(./images/bg.png) no-repeat;
}
.sfm-t-tab-dialog-title{
	background-color: #4169E1;
}
.sfm-t-tab-dialog-title-text{
	color: #f5f5f5;
	font-weight: bold;
}
