.sfm-m-menu-box{
	float: left;
}
.sfm-m-menu-lv1-box{
	height: 75px;
	font-family: "STXingkai", "STXinwei", "Quattrocento", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.sfm-m-mi-box{
	float: left;
}
.sfm-m-mi-text{}
.sfm-m-mi-box-lv1{
	width: 77px;
	height: 60px;
	margin: 15px 4px 0px 4px;
	color: #fff;
	cursor: pointer;
}
.sfm-m-mi-box-lv1:hover{}
.sfm-m-mi-box-lv1.sfm-f-active{}
.sfm-m-mi-box-lv1 .sfm-m-mi-img{
	display: block;
	width: 27px;
	height: 30px;
	margin: 0px auto;
}
.sfm-m-mi-box-lv1 .sfm-m-mi-text{
	margin: 5px 0px 0px 0px;
	font-size: 18px;
	text-align: center;
}


#divMenuBox{
	margin: 0px 0px 0px 600px;
}
